body {
  background-color: #F3F3F3;
}

.content-container {
  display:flex;
  justify-content: center;
}

.header h2 {
  font-weight: normal;
}

.header span {
  font-weight: bold;
}

.full-logo {
  display: flex
}

.logo-frame {
  width: 45px;
}
