.popup-container {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.popup-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 6px;
}

.full-logo {
	display:flex
}

.popup-header h2 {
	font-weight: normal;
}

.popup-header span {
	font-weight: bold;
}

.logo-frame {
	width:45px;
}

img {
	width:100%;
	object-fit: contain;
}

input[type="checkbox"] {
	width: 20px;
	height: 20px;
	border: 2px solid #3498db;
	border-radius: 4px;
	background-color: transparent;
	outline: none;
	cursor: pointer;
	transition: background-color 0.3s ease, border-color 0.3s ease;
	color: #fff
}

input[type="checkbox"]:checked+label::before {
	background-color: #2ecc71;
	border-color: #2ecc71;
}

button#settings-button {
	background-color: transparent;
	border: none;
	width: 55px;
	min-width: unset;
	cursor: pointer;
}

.button-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}

.input-container {
	padding: 5px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.checkbox-container {
	display: flex;
	align-items: center;
}

.checkbox-input {
	width: 20px;
	height: 20px;
	border: 2px solid #3498db;
	border-radius: 4px;
	background-color: transparent;
	outline: none;
	cursor: pointer;
	transition: background-color 0.3s ease, border-color 0.3s ease;
	color: #fff;
}

.checkbox-input:checked+label::before {
	background-color: #2ecc71;
	border-color: #2ecc71;
}

.checkbox-label {
	margin-left: 5px;
}

.night-mode {
	background-color: #242428;
}
